---
import Terms from '../components/terms.astro';
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'

---

<Layout title="Welcome to Astro.">
    <link rel="stylesheet" href="/src/styles/global.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/svg+xml" href="/public/logo.ico"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
	<main class="text-white font-poppins m-auto ">
        <div class="max-w-7xl m-auto">
            <div class=" lg:px-6">
                <Navbar/>
            </div>
            <div class=" mt-12 mb-12 lg:max-w-6xl m-auto mx-6">
                <Terms/>
            </div>
        </div>

        <footer class="w-full">
            <Footer />
        </footer>
</Layout>
