<div class="flex flex-col gap-8 text-center">
    <div class="">
        <h3 class="text-5xl xl:text-6xl">Founders</h3>
    </div>
    <div>
        <p class="xl:text-xl"> <span class="text-violet-600" ></span>    <span class="text-violet-600"> </p>
    </div> 
    <div class="flex justify-around items-center">
        <div class="flex flex-col items-center justify-center hover:scale-110">
            <a href="https://www.linkedin.com/in/tiago-sued-b7a071168/" target="_blank">
                <img class="w-32 h-32 rounded-full object-cover position-tiago  border-2 border-violet-800 xl:w-56 xl:h-56" src="/images/tiago.webp" alt="Tiago Sued">
                <h4 class="text-xl mt-2 xl:text-2xl">Tiago Sued</h4>
                <span class="custom-text-gradient xl:text-xl"> FOUNDER </span>
            </a>
        </div>
        <div class="flex flex-col items-center justify-center hover:scale-110">
            <a href="https://www.linkedin.com/in/elian-portillo-5281a7285/" target="_blank">
                <img class="w-32 h-32 rounded-full object-cover position-portillo border-2 border-violet-800 xl:w-56 xl:h-56" src="/images/portillo.webp" alt="Agustin Portillo">
                <h4 class="text-xl mt-2 xl:text-2xl">Agustin Portillo</h4>
                <span class="custom-text-gradient xl:text-xl"> FOUNDER </span>
            </a>
        </div>
    </div>
</div>

<style>
    .position-tiago{
        object-position: 15px 13px;
    }
    .position-portillo{
        object-position: -5px 15px ;
    }


.custom-text-gradient {
    background: radial-gradient(at 61.681808839936906% 18.713453047060867%, hsla(236.76923076923077, 84.4155844155844%, 69.80392156862744%, 1) 0%, hsla(236.76923076923077, 84.4155844155844%, 69.80392156862744%, 0) 100%),
                radial-gradient(at 8.792883057247769% 10.531053903989228%, hsla(308.7692307692308, 84.4155844155844%, 69.80392156862744%, 1) 0%, hsla(308.7692307692308, 84.4155844155844%, 69.80392156862744%, 0) 100%),
                radial-gradient(at 92.39499859343967% 89.18327529767484%, hsla(21.230769230769234, 84.4155844155844%, 69.80392156862744%, 1) 0%, hsla(21.230769230769234, 84.4155844155844%, 69.80392156862744%, 0) 100%),
                radial-gradient(at 76.09054593785065% 38.92786969520729%, hsla(165.23076923076923, 84.4155844155844%, 69.80392156862744%, 1) 0%, hsla(165.23076923076923, 84.4155844155844%, 69.80392156862744%, 0) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
</style>
