<div class=" py-8 border-t-2 border-violet-800 flex flex-col items-center text-center gap-3">
    <div>
        <img class="w-20" src="/images/astra.png" alt="">
    </div>

    <div>
        <p>ASTRA<span class="custom-text-gradient"> <a target="_blank">LLC</a> </p>
    </div>
    <div>
        <p class="text-xs xl:text-base"> <a>Terminos y Condiciones</a></p>
    </div>
</div>

<style>
.custom-text-gradient {
    background: radial-gradient(at 61.681808839936906% 18.713453047060867%, hsla(236.76923076923077, 84.4155844155844%, 69.80392156862744%, 1) 0%, hsla(236.76923076923077, 84.4155844155844%, 69.80392156862744%, 0) 100%),
                radial-gradient(at 8.792883057247769% 10.531053903989228%, hsla(308.7692307692308, 84.4155844155844%, 69.80392156862744%, 1) 0%, hsla(308.7692307692308, 84.4155844155844%, 69.80392156862744%, 0) 100%),
                radial-gradient(at 92.39499859343967% 89.18327529767484%, hsla(21.230769230769234, 84.4155844155844%, 69.80392156862744%, 1) 0%, hsla(21.230769230769234, 84.4155844155844%, 69.80392156862744%, 0) 100%),
                radial-gradient(at 76.09054593785065% 38.92786969520729%, hsla(165.23076923076923, 84.4155844155844%, 69.80392156862744%, 1) 0%, hsla(165.23076923076923, 84.4155844155844%, 69.80392156862744%, 0) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
</style>
