---


---

<div class=" mx-3 mt-2 flex justify-center flex-col  items-center ">
    <div class="">
        <a href="/" aria-label="Volver al inicio">
            <img class="w-28 lg:w-40 logo-effect" src="/images/astra.png" alt="">
        </a>
    </div>

</div>
<style>
    .logo-effect 
        {
        filter:drop-shadow(1px 1px 20px rgb(255, 0, 200))
        }
</style>