
<div class="flex flex-col gap-4">
    <div>
        <h2 class=" mb-4 text-center text-3xl custom-text-gradient xl:text-5xl ">Terminos y Condiciones</h2>
    </div>
    <div>
        <h2 class="font-bold">1. Aceptación de Términos</h2>
        <p>Al adquirir y utilizar nuestros bots de trading, aceptas estos Términos y Condiciones. Si no estás de acuerdo con alguno de estos términos, no continúes con la compra. Tu uso continuado de los bots implica tu aceptación de cualquier cambio en estos términos.</p>
    </div>
    <div>
        <h2 class="font-bold">2. Licencia de Uso</h2>
        <p>Los bots de trading se proporcionan bajo una licencia por cuenta de broker. Cada cuenta activa en un broker requiere una licencia separada. Si tienes varias cuentas en distintos brokers, deberás adquirir una licencia adicional para cada cuenta. La licencia es personal e intransferible y se limita al uso exclusivo del comprador. No está permitida la distribución, sublicencia, o compartir el bot o su código fuente con terceros.</p>
    </div>
    <div>
        <h2 class="font-bold">3. Duración y Terminación</h2>
        <p>La licencia del bot permanecerá vigente mientras la cuenta del broker esté activa. Si la cuenta del broker se cierra o se desactiva, la licencia correspondiente será considerada terminada. Nos reservamos el derecho de cancelar la licencia si se detecta un uso indebido del bot o incumplimiento de estos términos y condiciones, lo cual podría incluir, pero no se limita a, fraude, violación de propiedad intelectual o uso no autorizado.</p>
    </div>
    <div>
        <h2 class="font-bold">4. Limitación de Responsabilidad</h2>
        <p>Los bots de trading son herramientas que proporcionan asistencia en el trading, pero no garantizan resultados específicos. No asumimos responsabilidad por cualquier pérdida o ganancia derivada del uso de los bots. El uso del bot y la gestión del riesgo son responsabilidades exclusivas del usuario. Cualquier decisión de trading debe ser tomada considerando el riesgo y con el asesoramiento adecuado. No nos hacemos responsables de fallos técnicos, errores en el software, problemas con el sistema del broker, o cualquier otro problema que pueda surgir durante el uso del bot.</p>
    </div>
    <div>
        <h2 class="font-bold">5. Soporte y Actualizaciones</h2>
        <p>Ofrecemos soporte técnico básico para la instalación y uso del bot. El soporte incluye asistencia para resolver problemas técnicos y responder a preguntas relacionadas con el funcionamiento del bot. Las actualizaciones del bot pueden estar disponibles y serán proporcionadas a los usuarios con licencia activa. Sin embargo, no garantizamos actualizaciones continuas ni soporte para versiones desactualizadas del bot.</p>
    </div>
    <div>
        <h2 class="font-bold">6. Propiedad Intelectual </h2>
        <p>Todos los derechos de propiedad intelectual relacionados con el bot, incluidos el código fuente y los derechos de autor, están reservados por nuestra empresa. La compra de una licencia no transfiere ningún derecho de propiedad sobre el bot al usuario.</p>
    </div>
    <div>
        <h2 class="font-bold">7. Modificaciones a los Términos</h2>
        <p>Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Los cambios serán efectivos a partir de su publicación en nuestro sitio web. El uso continuado del bot después de dichos cambios implica aceptación de los nuevos términos.</p>
    </div>
    <div>
        <h2 class="font-bold">8. Política de Reembolsos</h2>
        <p>Debido a la naturaleza digital e intransferible de los bots, no se ofrecen reembolsos una vez realizada la compra. Por favor, asegúrate de que entiendes completamente las características y los requisitos del bot antes de realizar la compra.</p>
    </div>
    <div>
        <h2 class="font-bold">9. Privacidad y Protección de Datos</h2>
        <p>Recopilamos y procesamos datos personales de acuerdo con nuestra política de privacidad. Nos comprometemos a proteger tu información y utilizarla únicamente para proporcionar los servicios solicitados.</p>
    </div>
    <div>
        <h2 class="font-bold">10. Responsabilidad del Usuario</h2>
        <p>El usuario es responsable de mantener la confidencialidad de sus credenciales de acceso y de cualquier actividad realizada bajo su cuenta. Debe notificar inmediatamente cualquier uso no autorizado de su cuenta.</p>
    </div>
    <div>
        <h2 class="font-bold">11. Exclusión de Garantías</h2>
        <p>El bot se proporciona "tal cual" y "según disponibilidad". No ofrecemos garantías, expresas o implícitas, sobre el rendimiento, la fiabilidad o la idoneidad del bot para un propósito particular.</p>
    </div>
    <div>
        <h2 class="font-bold">12. Ley Aplicable</h2>
        <p>Estos términos y condiciones se rigen por las leyes del país en el que está registrada nuestra empresa. Cualquier disputa derivada de estos términos será resuelta en los tribunales competentes de dicho país.</p>
    </div>
    <div>
        <h2 class="font-bold">13. Contacto</h2>
        <p>Para cualquier pregunta o inquietud relacionada con estos términos y condiciones, por favor, para contactarnos haga <a target="_blank" href="https://www.linkedin.com/in/elian-portillo-5281a7285/"> <span class="custom-text-gradient" >click aca.</span> </a></p>
    </div>
    <div>
        <h2 class="font-bold">14. Fuerza Mayor</h2>
        <p>No seremos responsables por el incumplimiento de nuestras obligaciones bajo estos términos y condiciones si dicho incumplimiento es causado por eventos fuera de nuestro control razonable, incluyendo pero no limitado a desastres naturales, fallos en las comunicaciones, o interrupciones en el servicio de proveedores externos.</p>
    </div>
    <div>
        <h2 class="font-bold">15. Acuerdo Completo</h2>
        <p>Estos términos y condiciones constituyen el acuerdo completo entre tú y nuestra empresa respecto al uso de los bots de trading y reemplazan cualquier acuerdo previo o contemporáneo, ya sea oral o escrito, relacionado con el mismo tema.</p>
    </div>
</div>
