---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="Te animas a la nueva revolucion?" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/images/logo.ico" />
	<meta name="generator" content={Astro.generator} />
	<title>{title}</title>

	<script src="/meta-pixel.js" defer></script>
	  </script>
	  <noscript>
		<img
		  height="1"
		  width="1"
		  style="display:none"
		  src="https://www.facebook.com/tr?id=925176499039222&ev=PageView&noscript=1"
		/>
	  </noscript>
	  

</head>
<body class="bg-transparent background-color">
	<slot />
</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background-size: 224px;
		scroll-behavior: smooth;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	.background-color {
		background: transparent;
		background-image: radial-gradient(at top center, #5a0973 0%, #110616 40%);
	}
</style>
